.wrj_container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.wrj_container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}
h1.wrj_logo {
    background: url("http://whiterabbitjapan.com/images/white-rabbit-japan-logo.png") no-repeat scroll 0 0 transparent !important;
    float: left;
    height: 51px;
    width: 206px;
    margin-bottom:0px;
}
.wrj_ir {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0pt/0 a;
    text-shadow: none;
}
.wrj_header {
    background-color: #333333 !important;
    background: url("http://shop.whiterabbitjapan.com/skin/frontend/galapellente/default/images/header-bg.png") repeat-x scroll 0 0 transparent;
    height: 51px;
    width: 100%;
    top:0;
    z-index: 1030;

}
.wrj_header ul {
    float: right;
    margin-top: 13px;
}
.wrj_header ul li {
    color: #FFFFFF;
    float: left;
    margin-left: 37px;
    list-style:none;
}
.wrj_header ul li a {
    color: #FFFFFF;
    float: left;
    font: 13px/21px "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.wrj_header ul li a:hover, .wrj_header ul li a:focus, .wrj_header ul li a:active {
    color: #71A9D0;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.wrj_header ul li.on a {
    color: #A3D4F7;
}
.wrj_container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
h1.wrj_logo {
    background: url("http://shop.whiterabbitjapan.com/skin/frontend/galapellente/default/images/white-rabbit-japan-logo.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 51px;
    width: 206px;
}
.wrj_ir {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0pt/0 a;
    text-shadow: none;
}
.wrj_header {
    /*background: url("http://shop.whiterabbitjapan.com/skin/frontend/galapellente/default/images/header-bg.png") repeat-x scroll 0 0 transparent;*/
    height: 51px;
    width: 100%;
}
.wrj_header ul {
    float: right;
    margin-top: 13px;
}
.wrj_header ul li {
    color: #FFFFFF;
    float: left;
    margin-left: 37px;
}
.wrj_header ul li a {
    color: #FFFFFF;
    float: left;
    font: 13px/21px "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.wrj_header ul li a:hover, .wrj_header ul li a:focus, .wrj_header ul li a:active {
    color: #71A9D0;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.wrj_header ul li.on a {
    color: #A3D4F7;
}
.wrj_header-nav{
    display: none;
    padding-top: 15px;
    height: 46px;
}